/*General*/
.hush {
    color: #b8babc;
}

.active {
    background-color: #d2e5f7;
    border-radius: 5px;
}
.app {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', sans-serif;
    /*font-family: 'Avenir Next', sans-serif;*/
}

/*Components*/
.header {
    display: flex;
    flex-grow: 1 100%;
    background-color: #216587;
}

.search-box {
    width: calc(100% - 2em);
    margin: 2em;
    padding: 1em;
    font-size: 1em;
    border-radius: 4px;
}

.main {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1 100%;
}

.facets {
    display: flex;
    flex-flow: column;
    flex-shrink: 0.5;
    /*flex-grow: 0.5;*/
    flex-basis: 15%;
    border-right: solid #e0e3e5;
    border-right-width: thin;
}

.facet {
    padding: 2em 1em 0em 1em;
}

.facet-title {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.results {
    display: flex;
    flex-flow: column;
    flex-grow: 5;
}

.meta-wrapper {
    padding: 2em 2em 0em 2em;
    margin-bottom: 1em;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.metadata {
    flex-grow: 100%;
}

.meta-caddy {
    flex-shrink: 0;
    flex-grow: 5;
    border-bottom: solid #e0e3e5;
    border-bottom-width: thin;
    margin-left: 1.5em;
}

.meta-seconds {
    font-size: .8em;
}

.cuisine-category {
    width: 14em;
    margin: 0.25em 0.1em;
    padding: 0em 1em;
    cursor: pointer;
}

.badge {
    float: right;
}

.star-container, .credit-card{
    width: 6em;
    margin: 0.25em;
    padding: 0em 1em;
    cursor: pointer;
}

.cuisine-category:not(.active):hover, .credit-card:not(.active):hover, .star-container:not(.active):hover {
    background-color: #f9f9f9;
    border-radius: 5px;
}

.hit {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.25em;
}

.hit-image {
    height: 6em;
    width: 6em;
    flex-grow: 1;
    border-radius: 5px;

}

.img-container {
    margin-right: 1.5em;
}

.hit-data {
    flex-grow: 3;
}

.restaurant-name {
    font-size: 1.4em;
}

.distance {
    margin-left: .5em;
}

.reviews-count {
    margin-left: 0.5em;
}

.hit-data-line {
    margin-bottom: .25em;
}

.show-more-button {
    border-width: 1px;
    border-color: #b8babc;
    border-style: solid;
    border-radius: 4px;
    width: 250px;
    color: #919191;
    font-size: 1.5em;
    padding: .50em;
    align-self: center;
    cursor: pointer;
    text-align: center;
}

/*placeholder styling*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #b8babc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #b8babc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #b8babc;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #b8babc;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #b8babc;
}

/*star rating*/
.star-color {
    color: #e7711b;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 18px;
  height: 25px;
  width: 92px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  display: inline-block;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

/*Small Screen - Phone */
@media only screen and (max-width : 480px) {
    /* Styles */
    .search-box {
        font-size: 0.7em;
    }

    .facets {
        border-right: none;
    }

    .meta-seconds {
        display: none;
    }

    .hits {
        -webkit-padding-start: 10px;
    }

    .hit-image {
        display: none;
    }

    .restaurant-name {
        font-size: 1.25em;
    }

    .distance, .reviews-count, .hit-triplet {
        font-size: .75em;
    }

    .show-more-button {
        border-radius: 3px;
        width: 150px;
        font-size: 1em;
    }

}

/*Small Screen - tablet */
@media only screen and (max-width : 1024px) {
    .hits {
        -webkit-padding-start: 10px;
    }

    .hit-image {
        display: none;
    }
}

/*Touch devices*/
@media (hover:none) {
     /*Remove sticky hover*/
    .cuisine-category:not(.active):hover, .credit-card:not(.active):hover, .star-container:not(.active):hover {
        background-color: inherit;
        border-radius: 0px;
    }
}
